
.ScatterPlot {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.CorrelationMatrix {
    display: block;
    width: 100%;
    border: none;
    background-color: #96da18;
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.StackedBarCharts {
    display: block;
    width: 100%;
    border: none;
    background-color: #0468aa;
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.container {
    text-align: center;
    width: 100%;
    margin: 100px auto;
    font-family: Arial, sans-serif;
}

.axis .domain {
    display: none;
}

legend {
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.hw{
    text-align: center;
    font-size: 28px;
}

.ID {
    text-align: center;
    font-size: 25px;
}

.y.axis text {
    font-size: 10px;
}

.chart {
    width: 1000px; 
    height:450;
    overflow-y: auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none; 
}
